{
	"PROTOCOL": "https",
	"PORT": "4000",
	"url": "http://localhost:4000",
	"schemes": "http",
	"services": {
		"pagerduty": "https://pagerduty.com/api"
	},
	"_vcap_application": {
		"application_uris":["localhost:4000"]
	},
	"_vcap_services": {
		"cloudantNoSQLDB": [{
			"credentials": {
				"url":"CLOUDANT_URL"
			}
		}]
	},
	"TIAM_URL": "",
	"TIAM_CLIENT_ID": "",
	"TIAM_CLIENT_SECRET": ""
}