{
	"PORT": "4000",
	"url": "http://localhost:4000",
	"schemes": "http",
	"services": {
		"pagerduty": "https://pagerduty.com",
		"otc_api": "https://localhost:3400/api/v1",
		"ibm_snip_api" : "http://ibm.biz/api"
	},
	"_vcap_services": {
		"cloudantNoSQLDB": [{
			"credentials": {
				"url":"CLOUDANT_URL"
			}
		}]
	},
	"TIAM_URL": "",
	"TIAM_CLIENT_ID": "",
	"OTC_API_BROKER_SECRET": "",
	"IBM_SNIP_API_KEY": "",
	"LOG4J_LEVEL": ""
}